<div id="station-panel" class="aq-map-info" tabindex="-1" role="dialog" aria-modal="true" aria-label="Station information">
  <button id="sp-close" class="aq-map-info__close" aria-label="Close station information">
    <svg aria-hidden="true" focusable="false" width="20" height="20" viewBox="0 0 20 20">
      <path d="M10,8.6L15.6,3L17,4.4L11.4,10L17,15.6L15.6,17L10,11.4L4.4,17L3,15.6L8.6,10L3,4.4L4.4,3L10,8.6Z" style="fill:currentColor"/>
    </svg>
    <span class="govuk-visually-hidden">Close</span>
  </button>
  <div class="aq-map-info__container">
    <h2 class="govuk-heading-m govuk-!-margin-bottom-2" id="sp-name"></h2>
    <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-font-size-16" id="sp-details"></dl>
  </div>
</div>