{% extends "layouts/main.html" %}

{% set pageName = "Home" %}

{% block head %}
  <link href="/plugin-assets/%40defra%2Finteractive-map/dist/css/index.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% include "govuk-prototype-kit/includes/homepage-top.njk" %}

    <h1 class="govuk-heading-xl">
      {{ serviceName }}
    </h1>

    {% include "govuk-prototype-kit/includes/homepage-bottom.njk" %}
  </div>
</div>

<div id="map"></div>
{% endblock %}

{% block pageScripts %}
  <script src="/plugin-assets/%40defra%2Finteractive-map/dist/umd/index.js"></script>
  <script src="/plugin-assets/%40defra%2Finteractive-map/providers/maplibre/dist/umd/index.js"></script>
  <script>
    const interactiveMap = new defra.InteractiveMap('map', {
      mapProvider: defra.maplibreProvider(),
      behaviour: 'hybrid',
      mapLabel: 'Ambleside',
      zoom: 14,
      center: [-2.968, 54.425],
      containerHeight: '650px',
      mapStyle: {
        url: 'https://tiles.openfreemap.org/styles/liberty',
        attribution: 'OpenFreeMap © OpenMapTiles Data from OpenStreetMap',
        backgroundColor: '#f5f5f0'
      }
    })
  </script>
{% endblock %}